@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
<style>
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;1,300&family=Montserrat:ital,wght@0,400;1,100&family=Roboto:ital,wght@1,900&display=swap');
</style>


body{
font-family:"Barlow",sans-serif;
line-height: 1.7;
color: #247f08;


}
h1,h2,h3,h4,h5,h6{
 font-weight:700;
 color: #ffe400;;
 
}
a{
color: #090909;
text-decoration: none;
transition: all 0.4s ease;
font-weight: 500;

}
a:hover{
color:#ff4d29

}


img{
width:100%;

}
section{
padding-top:88px;
padding: bottom 80px; ;


}
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}
.intro{
margin-bottom:40px;

}
.intro h6{

font-weight: 400;
color:#ff4d29;

}
.intro p{

    max-width: 500px;
    margin:auto;


}
/*------NAVBAR----------*/
.top-nav{

background-color: #ff4d29;



}
.top-nav p{

margin-bottom: 0;
display: inline-block;
margin-right: 16px;
color:#ffffff;



}
.top-nav i,
.top-nav span{


    vertical-align:middle;

}
.social-link a{
width:34px;
height: 34px;
background-color:rgba(255,255.255, 0.3);
display: inline-flex;
align-items: center;
justify-content: center;
color:#ffff;
font-size: 24px;



}
.social-link a:hover{
background-color:#ffffff;
color:#ff4d29;

}
.navbar{
box-shadow: 0px 5px 30px rgba(0,0,0,0.8);

}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{

}

}
.navbar-brand{
font-weight: 700;
font-size: 26px;
color:#090909;

}
.navbar-brand span{
    color: #ff4d29;
}

/*BTN*/

.btn{
padding:9px;
font-weight: 500;

}
.btn-brand{
background-color:#ff4d29;
color:#ffffff;
border-color:#ff4d29;


}

.btn-brand:hover{
color:#ffffff;
background:#e04122;

}



/*  SLIDER*/


#hero-slider h1{
font-weight: 700 !important;
   
}


.slide1{

background:linear-gradient( rgba(9,32,50,0.4), rgba(9,32,50,0.4)),  url(../img/b12.jpg);


}

.slide2{

    background:linear-gradient(rgba(9,32,50, 0.4 ) , rgba(9,32,50,0.4)),   url(../img/b11.jpg);
    
    }





    /*--------owl carousel-------*/
.owl-prew,
.owl-next{
    position:absolute;
    top:50%;
    width:60px !important;
    height: 60px !important;

    display: grid;
    place-items:center;
    background-color:rgba(225,225,225,0.2) !important;
    margin-top:-30px !important;
    color:white;
    font-weight:700;
    font-size:12px;
    border-radius:
    
}

.owl-prew{
left: 0;


}
.owl-next{
right:0;

}
.owl-prew:hover,
.owl-next:hover{
    background-color: #ff4d29 !important;

}


/*------INFOBOX----*/
.info-box {
display:flex ;
align-items: center;

}
.info-box img{
width:70px;
margin-right: 18px;

}
/* MILESTONE*/
#milestone{

    background:linear-gradient(   hsla(10, 100%, 58%, 0.7), hsla(8, 51%, 27%, 0.7) ),url(../img/b12.jpg);


}
#milestone .display-4,
#milestone p{
color:#ffffff;



}
#milestone .display-4{
    font-weight: 700;

}
/* SERVICE*/
.service-box{
width:unset;



}
.service-box img{
width:unset;


}
.service-box h5{
    margin-top:24px;
    margin-bottom: 12px;
}
/*   PPROJECT*/

#project-slider .owl-next,
#project-slider.owl-prev{

background-color:hsla(11, 28%, 92%, 0.452) !important;

}#project-slider .owl-next:hover,
#project-slider.owl-prev:hover{

background-color:#e7310cd5 !important;

}



.project{
position: relative;

}
.project .overlay{

background-color:linear-gradient(to bottom,#57c3ca00, #0f0000c2);
position:absolute;
width: 100%;
height: 240px;
bottom: 0;
left:0;

    
}
.project .content{

position: absolute;
width: 100%;
bottom:0;
left: 0;
padding:32px;

}
.project h1,
.project h6{
    color:#ffff;

}
.project h6 ::before{

content:;

height: 2px;
width: 24;
background-color:#ff4d29;
display: inline-block;
vertical-align: middle;
margin-right: 12px;


}
/*   TEAM*/
.team-member{
text-align: center;


}


.team-memder  .img-wrapper{
position:absolute;
overflow:hidden;

}
.team-menber.overlay{
position:absolute;
top:-10;
left:0;
width: 100%;
height: 100%;
background-color: rgba(225,77,41,0.89);
transition: all 0.4s ease;
opacity: 1;



}
.team-memder.social-links{
position:absolute;
top:60%;
left: 50%;
transform:translate(-50%,-50%);
transition: all 0.4s ease;

}
.team-member:hover .overlay{
    opacity: 1;
    top:0;
}
.team-member:hover.social-link{
    opacity: 1;
    top:50;

}


/*---REVIEW---*/

#review{

    background:linear-gradient(rgba(9,32,50, 0.4 ) , rgba(9,32,50,0.4)),   url(../img/b18.jpg);
    
    }
.review{
max-width: 900px;
margin:auto;
text-align: center;
 }


.review img{
    width:85px !important;
    border-radius:1000px;
    margin:auto;
    }



.review h4{
margin-top:16px;


}


.review h4,
.review p{
color:#ff4d29;

}




.review small{
color:#ff4d29;

}
.review p{
margin-top:28px;

}
.owl-dot .active span{
background 

}

/*BLOG POST*/
.blog-post{
position:relative;

}
.blog-post .tag{
padding:4px;
background-color:#ff4d29;
color:#fff;
border-radius: 100px;
top:20px;
left: 20px;
position: absolute;
 

}

.blog-post a{
font-weight: 700;

}


.blog-post img{
margin-bottom: 12px;

}


.blog-post h4{
margin-top: 12px;
margin-bottom:12px;

}
.blog-post  small{
color:#ff4d29;
text-decoration: underline;
text-transform: uppercase;


}
/* FOOTER*/
footer{
padding-top:88px;
padding-bottom:40px;
color:#ffff;
text-align:center;
background:linear-gradient(rgba(9,32,50, 0.4 ) , rgba(9,32,50,0.4)),   url(../img/b18.jpg);



}

footer .navbar-brand{
    color:#fff;
    margin-bottom:18px;
    display: inline-block;
    

}
.footer-bottom{
margin-top:1px solid rgba(255,255,255, 0.08);
margin-bottom: 20px;

}
footer.social-links a{
    margin-left:5px;
    margin:5px;
}







 

